body {
    background-color: #222831;
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

.topnav {
    font-family: "Noto Sans Warang Citi", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    border-radius: 50px;
    width: auto;
    display: inline-block;
    font: Arial, sans-serif;
}

.topnav a {
    float : left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #393e46;
    border-radius: 25px;
    transition: 0.3s ease;
}

.topnav a.active {
    background-color: #393e46;
    border-radius: 25px;
}
